[submodule "extern/forcing_code"]
	path = extern/forcing_code
	url = https://github.com/NOAA-OWP/aorc_bmi.git
[submodule "extern/pet"]
	path = extern/pet
	url = https://github.com/NOAA-OWP/evapotranspiration.git
